$glitch-color-1: #2e2f36; // Background Main
$glitch-color-2: #676970; // Button
$glitch-color-3: #ffffff; // Background Modal
$glitch-color-4: $glitch-color-3; // Text Main
$glitch-color-5: $glitch-color-2; // Text Modal

$glitch-font: 'Work Sans', sans-serif;