html, body {
    background: cornsilk;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url(Images/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h4 {
    font-size: 120%;
}

p {
    font-family: sans-serif;
    line-height: 2;
}

/*classes*/

.heading {
    text-align: center;
    font-size: 200%
}

.section {
    padding-bottom: 3%;
}

.picture {
    width: 40%;
    padding-bottom: 3%;
}

/*IDs*/

#header {
    height: 100%;
}

#my_name {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #6fcbf3;
    border: 5px ridge white;
    -webkit-transition: all 0.5s ease;
}

#welcome:hover {
    background: #fff;
}

#content {
    margin: 1;
    padding-left: 1%;
    padding-top: 3%;
}

#me_picture {
    width: 35%;
}

#contact_me{
    width: 30%;
    margin: 1% auto;
    float: right;
    padding-right: 15%;
    padding-top: 5%;
}

/*Mobile*/

@media only screen and (min-width:240px) and (max-width: 720px), screen and (-webkit-min-device-pixel-ratio : 1.5 ) and (max-device-width:800px) {
   
    
    
    #my_name {
        width: 100%;
    }
    
    #welcome {  
        width: 25%;
    }
    
    #welcome img {
        width: 100%;
    }
}