p {
    font-family: sans-serif;
    line-height: 2;
}

body {
    background: cornsilk;
    height: 100%;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 120%;
}

#content {
    width: 50%;
    margin-left: 1%;
}

#about_me_pic {
    width: 25%;
}
#container {
    width: 100%;
    overflow: hidden;
}

#container img {
    width: 100%;
}

#name_img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #6fcbf3;
    border: 5px ridge white;
    -webkit-transition: all 0.5s ease;
}

#welcome:hover {
    background: #fff;
}

.heading {
    text-align: center;
    font-size: 200%
}

@media only screen and (min-width:240px) and (max-width: 720px), screen and (-webkit-min-device-pixel-ratio : 1.5 ) and (max-device-width:800px) {
    
    #name_img {
        top: 15%;
        width: 80%;
    }
    
    #welcome {
        top: 30%;
    }
}
