p {
    font-family: sans-serif;
    line-height: 2;
}

html, body {
    background: cornsilk;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url(Images/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h4 {
    font-size: 120%;
}

#header {
    height: 100%;
}

#name {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #6fcbf3;
    border: 5px ridge white;
    -webkit-transition: all 0.5s ease;
}

#welcome:hover {
    background: #fff;
}

#content {
    margin: 1;
    padding-left: 2%;
    padding-top: 3%;
}

#about_me {
    width: 100%;
    padding-bottom: 5%;
}

#me {
    width: 35%;
    padding-bottom: 5%;
}

#education {
    width: 100%;
    padding-bottom: 5%;
}

#kent_state {
    width: 40%;
    padding-bottom: 5%;
}

#projects {
    width: 100%;
    padding-bottom: 1%;
}

#computer {
    width: 40%;
}

.heading {
    text-align: center;
    font-size: 200%
}

@media only screen and (min-width:240px) and (max-width: 720px), screen and (-webkit-min-device-pixel-ratio : 1.5 ) and (max-device-width:800px) {
   
    
    
    #name {
        width: 100%;
    }
    
    #welcome {  
        width: 25%;
    }
    
    #welcome img {
        width: 100%;
    }
}
